<div class="container">
    <printer [printerId]="printerId" (selected)="printerChanged($event)"></printer>
    <header [header]="'Action: '+rma.actionName"></header>
    <header [header]="'Status: '+rma.status"></header>
    <header [header]="'Name: '+rma.name"></header>
    <list [columns]="columns" [rows]="rma.items" (select)="select($event)" (change)="change($event)"></list>
    <div [hidden]="!sel">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Selected: </label>
                <div class="col-md-4">
                    <p class="form-control-static">{{selected.sku}}</p>
                </div>
                <label class="col-md-2 control-label">Quantity: </label>
                <div class="col-md-4">
                    <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" [(ngModel)]="selected.qty" >
                </div>
            </div>
        </form>
        <div *ngIf="rma.actionId == '9'">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Charger </label>
                    <div class="col-md-4">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="charger" class="form-control">
                            <option>Missing</option>
                            <option>Present</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">SN </label>
                    <div class="col-md-4">
                        <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" [(ngModel)]="serial" >
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-primary btn-lg btn-block" (click)="received()" autofocus>Received</button>
    </div>
</div>