<div class="container">
    <div class="panel-group" >
        <div class="panel panel-default">
            <div class="panel-heading" (click)="categories.item = !categories.item">
                <h4 class="panel-title">
                    <a role="button">
                        Repair Items
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" [ngClass]="{hidden: !categories.item}">
                <div class="panel-body">
                    <button class="btn btn-primary spacer" (click)="addItem()">Add Item</button>
                    <list [columns]="itemsCols" [rows]="items" (select)="select($event)"></list>
                    <div *ngIf="selected">
                        <list [columns]="itemsCols" [rows]="selected.parts" (select)="selectPart($event)"></list>
                        <button class="btn btn-primary" (click)="addPart()">Add Part</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" (click)="categories.user = !categories.user">
                <h4 class="panel-title">
                    <a role="button">
                        Users
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" [ngClass]="{hidden: !categories.user}">
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<popup [fields]="searchFields" [show]="searchPopup" [title]="'Find Item'" (submited)="search($event)"></popup>